@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Others styles */
.component:hover .comp-background {
  background-color: orangered;
}

.component:hover .comp-color {
  color: orangered;
}

.component:hover .comp-border {
    border-color: gray;
}